<ul class="nav flex-column" id="navigasi">
  <li class="nav-item">
    <a class="nav-link btn-outline-primary" routerLink="user" title="Data User">
      <i class="material-icons">supervised_user_circle</i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-outline-primary" routerLink="kendaraan"><i class="material-icons">opacity</i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-outline-primary"  routerLink=""><i class="material-icons">play_for_work</i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-outline-primary"  routerLink=""><i class="material-icons">offline_pin</i></a>
  </li>
</ul>
